.table-title-row {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.emp-row:hover,
.emp-row:active {
    border: 0.15rem deepskyblue solid;
    cursor: pointer;
}

/*.form-top {*/
/*    width: 100%;*/
/*    display: grid;*/
/*    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 2fr;*/
/*    grid-template-areas:*/
/*            ". . title title . ."*/
/*            " . . addBtn dltBtn . .";*/
/*}*/

.form-title {
    /*grid-area: title;*/
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.buttons button {
    margin: 5px 15px;
}

.plus {
    width: 25px;
}

.AddButton {
    /*grid-area: addBtn;*/
    text-align: center;
    background-color: ghostwhite;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    color: #00ab0e;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 2px 2px 2px gray;
    padding: 10px 17px;
    width: 85px;
    margin: 10px;
}

.AddButton:hover, .AddButton:active {
    background-color: #45ab50;
    color: white;
    box-shadow: 3px 3px 2px gray;
}

.AddButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.AddButton:not(:disabled) {
    animation: enable 0.3s linear;
}


@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.DeleteButton {
    /*grid-area: dltBtn;*/
    width: 85px;
    background-color: ghostwhite;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    color: #cf2b36;
    font-family: inherit;
    font-size: 16px;
    box-shadow: 2px 2px 2px gray;
    padding: 10px 17px;
    text-align: center;
}

.DeleteButton:hover, .DeleteButton:active {
    background-color: #db4e55;
    color: white;
}

.DeleteButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.DeleteButton:not(:disabled) {
    animation: enable 0.3s linear;
}

