.App {
  text-align: center;
}

.employee {
  display: inline-block;
  width: 150px;
  margin: 10px;
  padding: 20px;
  border: 1px solid darkgray;
  box-shadow: 0 2px 2px gainsboro;
}

.header ul {
  list-style: none;
  width: 100%;
  text-align: center;
}

.header li {
  display: inline-block;
  margin: 20px;
}

.header a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.header a:hover,
.header a:active {
  text-decoration: none;
  color: #ff8603;
}
