.table-title-row {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.emp-row:hover,
.emp-row:active {
    border: 0.15rem deepskyblue solid;
    cursor: pointer;
}
